/* Write your code here: */
h1, h2{     /* Grouping selector */
    color: blueviolet
}

.box > p{    /* Child selector */
    color: firebrick
}

.list li{    /* Descendent selector */
    color: blue
}

li.done{     /* Chaining selector */
    color: seagreen
}

ul p.done{   
    font-size: 0.5rem;
}